*{
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    background: rgb(119, 1, 255);
    padding: 5px;
    width: 100%;
    height:30px;
}
.btn-header a {
    width: 100%;
    padding: 1px;
    height: 1px;
    color:black;
}

/* Campo de Pesquisa */
.pesquisa-box{
    margin-left: 980px;
}
.search-txt{
    border: none;
    outline: none;
    background: rgb(221, 195, 251);;;
    color: rgb(255, 255, 255);
    border-radius: 2px;
    display: flex;
    align-items: center;
}
.bck-deireita{
    position: fixed;
    width: 40px;
    height: 100%;
    top: 40px;
    left: 0%;
    /* background-color: rgb(196, 196, 196); */
}
.emb-notificacao{
    margin-left: 5px;
    margin-top: 10px;
}
.txt-notify{
    color: rgb(17, 17, 17);
    font-size:x-small;
    font-family:sans-serif;
}
.emb-chat{
    margin-top: 10px;
    margin-left: 5px;
}
.txt-chat{
    color: rgb(17, 17, 17);
    font-size:x-small;
    font-family:sans-serif;
}
.emb-time{
    margin-top: 10px;
    margin-left: 5px;
}
.txt-time{
    color: rgb(17, 17, 17);
    font-size:x-small;
    font-family:sans-serif;
}
.emb-tarefa{
    margin-top: 10px;
    margin-left: 5px;
}
.txt-tarefa{
    color: rgb(17, 17, 17);
    font-size:x-small;
    font-family:sans-serif;
}
::-webkit-input-placeholder{
    color: rgb(119, 0, 255);
}